{% comment %}
Instantiate this Liquid template with a `Palette`, e.g.:

```
$ cargo run -p base16cs-cli -- \
    --palette "Selenized light" \
    --template base16cs-cli/examples/palette.md.liquid \
  > palette.md
```
{% endcomment %}

# {{ palette.name }}

<style>
  .palettte {
    text-align: center;
  }

  {% for color in palette.colors %}
    .palette tr:nth-child({{ forloop.index }}) {
      background: lab({{ color.base.lab.l }} {{ color.base.lab.a }} {{ color.base.lab.b }});
    }
  {% endfor %}
</style>

<table class="palette">
  <tr>
    <th>name</th>
    <th>L*a*b*</th>
    <th>sRGB</th>
  </tr>
  {% for color in palette.colors %}
    <tr>
      <td>{{ color.base.name }}</td>
      <td>{{ color.base.lab.l }} {{ color.base.lab.a }} {{ color.base.lab.b }}</td>
      <td>TODO</td>
    </tr>
  {% endfor %}
</table>

