{% comment %}
Instantiate this Liquid template with a `Palette`, e.g.:

```
cargo run --features=cli --bin render -- \
    --palette examples/colorschemes/selenized_light.yaml \
    --template examples/palette.md.liquid \
  > selenized-light.md
```
{% endcomment %}

# {{ palette.name }}

<style>
  .palettte {
    text-align: center;
  }

  {% for color in palette.colors %}
    .palette tr:nth-child({{ forloop.index }}) {
      background: lab({{ color.base.lab.l }} {{ color.base.lab.a }} {{ color.base.lab.b }});
    }
  {% endfor %}
</style>

<table class="palette">
  <tr>
    <th>name</th>
    <th>L*a*b*</th>
    <th>sRGB</th>
    <th>RGB (#hex)</th>
  </tr>
  {% for color in palette.colors %}
    <tr>
      <td>{{ color.base.name }}</td>
      <td>{{ color.base.lab.l }} {{ color.base.lab.a }} {{ color.base.lab.b }}</td>
      <td>rgb({{ color.srgb.red }} {{ color.srgb.green }} {{ color.srgb.blue }})</td>
      <td>#{{ color.srgb_hex }}</td>
    </tr>
  {% endfor %}
</table>

