{% comment %}
Instantiate this Liquid template:

```
cargo run --features=cli --bin render -- \
    --unroll_colors \
    --palette examples/colorschemes/selenized_light.yaml \
    --template examples/selenized_light.md.liquid
  > selenized-light.md
```
{% endcomment %}

# Selenized Light

<table class="palette">
  <thead>
    <tr>
      <th>name</th>
      <th>RGB (#hex)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>bg_0</td>
      <td>#{{ bg_0 }}</td>
    </tr>
    <tr>
    <td>bg_1</td>
      <td>#{{ bg_1 }}</td>
    </tr>
    <tr>
    <td>bg_2</td>
      <td>#{{ bg_2 }}</td>
    </tr>
    <tr>
    <td>dim_0</td>
      <td>#{{ dim_0 }}</td>
    </tr>
    <tr>
    <td>fg_0</td>
      <td>#{{ fg_0 }}</td>
    </tr>
    <tr>
    <td>fg_1</td>
      <td>#{{ fg_1 }}</td>
    </tr>
  </tbody>
</table>

